@import '~style/helpers';

.homepage{
	display:flex;
	flex-direction: column;
}
.container {
	display: flex;
	flex-direction: column;
	//background-image: url('../../assets/backgrounds/clear-iphone.jpg');
	// 207
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;

	position: relative;
	background: linear-gradient(180deg, #B3C3D6 0%, rgba(243, 245, 248, 0.348066) 51.93%, rgba(255, 255, 255, 0) 100%), #2A5A99;
}

.clothes{
	position: absolute;
	//flex: 1;
	width: 230px;
	height: 264px;
	left: 92px;
	top: 309px;
	align-self: center;
	//margin-top: 100px;

	background: #FFFFFF;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
}

.details{
	position: absolute;
	//flex: 1;
	width: 230px;
	height: 264px;
	left: 92px;
	top: 309px;
	align-self: center;
	//margin-top: 100px;

	background: #FFFFFF;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08);
	border-radius: 5px;

}


.weekly{
	width: 414px;
	height: 100px;
	display: block;
	bottom: 0;
	position: absolute;
}
.weekOne{
	float: left;
	vertical-align: middle;
	font-size: 18px;
	width: 20%;
	height: 100px;
	vertical-align: middle;
	left: 20%;
}

.iconOne {
	position: absolute;
	left:26.4px;
	top:28px;
	width:30px;
	height:30px;
	filter: invert(100%);
	//background: black;
}

.minMax{
	position:fixed;
	bottom: 5px;
	left: 2.5%;
}
.weekTwo{
	float: left;
	vertical-align: middle;
	font-size: 18px;
	width: 20%;
	height: 100px;
	vertical-align: middle;

	left: 20%;
	position: absolute;
}

.iconTwo {
	position: absolute;
	left:109.2px;
	top:28px;
	width:30px;
	height:30px;
	filter: invert(100%);
	//background: black;
}

.weekThree{
	float: left;
	vertical-align: middle;
	font-size: 18px;
	width: 20%;
	height: 100px;
	vertical-align: middle;

	left: 40%;
	position: absolute;
}

.iconThree {
	position: absolute;
	left:192px;
	top:28px;
	width:30px;
	height:30px;
	filter: invert(100%);
	//background: black;
}

.weekFour{
	float: left;
	vertical-align: middle;
	font-size: 18px;
	width: 20%;
	height: 100px;
	vertical-align: middle;

	left: 60%;
	position: absolute;
}

.iconFour {
	position: absolute;
	left:274.8px;
	top:28px;
	width:30px;
	height:30px;
	filter: invert(100%);
	//background: black;
}

.weekFive{
	float: left;
	vertical-align: middle;
	font-size: 18px;
	width: 20%;
	height: 100px;
	vertical-align: middle;

	left: 80%;
	position: absolute;
}

.iconFive {
	position: absolute;
	left:357.6px;
	top:28px;
	width:30px;
	height:30px;
	filter: invert(100%);
	//background: black;
}

.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.details {
	flex: 4;
}

.city {
	//flex: 1;
	font-size: 39px;
	font-weight: 400;
	margin-top: 25px;

	/*position: absolute;
	width: 172px;
	height: 36px;
	left: 121px;
	top: 104px;

	font-family: Josefin Sans;
	line-height: normal;
	font-size: 36px;
	text-transform: uppercase;*/

}
.icon {
	position: absolute;
	left: 182px;
	top: 50px;
	width: 50px;
	height: 50px;
	filter: invert(100%);

	/*background: #FFFFFF;*/
}

.conditions {
	//flex: 1;
	font-size: 1em;

}

.temperature {
	//flex: 2;
	//margin-top: 25px;
	font-size: 100px;
	font-weight: 300;
	letter-spacing: -5px;

/*
	position: absolute;
	width: 63.79px;
	height: 108.95px;
	left: 171px;
	top: 166.05px;

	font-family: Josefin Sans;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -1px;*/
}

.filled:after {
	content: "°";
	margin: 0 0 0 0rem;
	font-size: 0.4em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}
.temp_min{
/* min 1 */
	position: absolute;
	//flex: 1;
	width: 100px;
	height: 18px;
	left: 42px;
	top: 250px;

	//font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	font-variant: small-caps;

	color: #FFFFFF;
}

.temp_max{
	position: absolute;
	flex: 3;
	width: 100px;
	height: 18px;
	left: 272px;
	top: 250px;

	//font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	font-variant: small-caps;
	color: #FFFFFF;
}

.topbar{
	position: absolute;
	width: 414px;
	height: 38px;
	left: 0px;
	top: 0px;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.name{
  height: 40px;
  width: 200px;
  position: absolute;
}
.gender{

}
.hot{

}
.warm{

}
.temperate{

}
.cold{

}
.freezing{

}
